
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Change your Password</h1>
                <p class="text-muted">Insert your new password</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <label for="input-pass"></label>
                  <input id="input-pass"
                         type="password"
                         class="form-control"
                         placeholder="New Password"
                         autocomplete="password"
                         required
                         #pass>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <label for="input-confirmPass"></label>
                  <input id="input-confirmPass"
                         type="password"
                         class="form-control"
                         placeholder="Confirm Password"
                         autocomplete="passwordConfirm"
                         required
                         #confirmPass>
                </div>
                <button type="button"
                        class="btn btn-block btn-primary"
                        (click)="resetPass(pass.value, confirmPass.value)">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
