<div class="animated fadeIn">
    <main class="form-group col-lg-12">

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card mx-4">
                    <div class="card-body p-4 text-c">
                        <form ngNativeValidate [formGroup]="registerForm">
                            <h1>Register</h1>
                            <p class="text-muted">Create your account</p>

                            <div class="input-group mb-3 ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user-following"></i></span>
                                </div>
                                <input matInput formControlName="name" type="text" class="form-control" placeholder="Name" ngModel required>

                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user-following"></i></span>
                                </div>
                                <input matInput formControlName="description" type="text" class="form-control" placeholder="Description" ngModel required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input matInput formControlName="url" type="text" class="form-control" placeholder="Url" ngModel required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input matInput formControlName="icon" type="text" class="form-control" placeholder="Icon" ngModel required>
                            </div>








                            <div formArrayName="submodules" *ngFor="let submodule of subModules.controls; let i=index">
                                <div [formGroupName]="i">
                                    <h2>New submodule</h2>


                                    <div class="input-group mb-3 ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user-following"></i></span>
                                        </div>
                                        <input matInput formControlName="name" type="text" class="form-control" placeholder="Name" ngModel required>

                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user-following"></i></span>
                                        </div>
                                        <input matInput formControlName="description" type="text" class="form-control" placeholder="Description" ngModel required>
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input matInput formControlName="url" type="text" class="form-control" placeholder="Url" ngModel required>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input matInput formControlName="icon" type="text" class="form-control" placeholder="Icon" ngModel required>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <button type="button" class="btn btn-danger pull-right" (click)="removerSubModule(i)">Remover</button>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="form-group">
                                <a class="btn btn-primary" (click)="agregarSubModule()">Agregar SubModule</a>
                            </div>







                            <br>
                            <button type="submit" class="btn btn-sm btn-success " (click)="register(registerForm)"><i class="fa fa-dot-circle-o"></i> Create Account</button>
                            <button type="reset" class="btn btn-sm btn-danger "><i class="fa fa-ban"></i> Reset Form</button>
                            <button [routerLink]="['/register-module/list-module']" type="reset" class="btn btn-sm btn-danger">
                                <i class="fa fa-ban"></i> Cancel
                              </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>