<div class="row">
  <button type="button" class="btn btn-primary" [routerLink]="['/roles-register/register']">Add User</button>
</div>
<br>
<div class="row">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Create Date</th>
        <th scope="col">Last Update Date</th>
        <th scope="col">Status</th>
        <th scope="col">Modules</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" (click)="confirmEdit()"><span class="icon-pencil"></span></button></p></td>
        <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" (click)="confirmDelete()"><span class="icon-trash"></span></button></p></td>
      </tr>
    </tbody>
  </table>
</div>
