<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Switch with text - pills
        </div>
        <div class="card-body">
          <label class="switch switch-label switch-pill switch-primary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-secondary">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-success">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-warning">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-info">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
          &nbsp;&nbsp;&nbsp;
          <label class="switch switch-label switch-pill switch-danger">
            <input type="checkbox" class="switch-input" checked>
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
