<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Bootstrap Tooltips
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/tooltip" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Simple demo
      </button>
    </div>
  </div>
  <!-- <div class="card">
    <div class="card-header">
      Tooltips <small>positioning</small>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-default btn-secondary"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              placement="top">
        Tooltip on top
      </button>

      <button type="button" class="btn btn-default btn-secondary"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              placement="right">
        Tooltip on right
      </button>

      <button type="button" class="btn btn-default btn-secondary"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              placement="auto">
        Tooltip auto
      </button>

      <button type="button" class="btn btn-default btn-secondary"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              placement="left">
        Tooltip on left
      </button>

      <button type="button" class="btn btn-default btn-secondary"
              tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
              placement="bottom">
        Tooltip on bottom
      </button>
    </div>
  </div> -->
</div>
