<div class="animated fadeIn">
  <main class="form-group col-lg-12">

    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="card mx-4">
          <div class="card-body p-4 text-c">
            <form *ngIf="role !== undefined" (ngSubmit)="test()">
              <h1 class="mb-3">Edit role</h1>
              <label for="name">Name</label>
              <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-note"></i></span>
                </div>
                <input [(ngModel)]="role.name"
                       id="name"
                       name="name"
                       type="text"
                       class="form-control"
                       autocomplete="Name">
              </div>
              <label for="description">Description</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-speech"></i></span>
                </div>
                <input [(ngModel)]="role.description"
                       id="description"
                       name="description"
                       type="text"
                       class="form-control"
                       autocomplete="Description">
              </div>
              <button type="submit" class="btn btn-sm btn-success "><i class="fa fa-dot-circle-o"></i> Confirm</button>
              <button type="reset" class="btn btn-sm btn-danger" [routerLink]="['/roles']"><i class="fa fa-ban"></i> Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
