<ngx-spinner name="global">
    <p style="font-size: 12px; color: white">Un momento.... editando usuario</p>
</ngx-spinner>

<div class="animated fadeIn">
    <main class="form-group col-lg-12">

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card mx-4">
                    <div class="card-body p-4 text-c">
                        <form *ngIf="user !== undefined" ngNativeValidate #editForm="ngForm">
                            <h1>Edit</h1>
                            <p class="text-muted">Edite your account</p>
                            <div class="input-group mb-3 ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user-following"></i></span>
                                </div>
                                <input [(ngModel)]="user.name" name="firstName" type="text" class="form-control" placeholder="First Name" autocomplete="First Name" minlength="7" maxlength="30" pattern="[A-Za-z0-9]+" required>



                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user-following"></i></span>
                                </div>
                                <input [(ngModel)]="user.lastname" name="lastname" type="text" class="form-control" placeholder="Last Name" autocomplete="Last Name" minlength="7" maxlength="30" pattern="[A-Za-z0-9]+" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input [(ngModel)]="user.username" name="username" type="text" class="form-control" placeholder="Username" autocomplete="username" minlength="5" maxlength="30" pattern="[A-Za-z0-9]+" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input [(ngModel)]="user.email" name="email" type="email" class="form-control" placeholder="Email" autocomplete="email" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <select [(ngModel)]="user.role" name="role" class="form-control" id="role" required="required">
                                    <option value="" selected>select a role...</option>
                                    <option value="1">Admin</option>
                                    <option value=2>Alumno</option>
                                    <option value="3">Trabajador</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-sm btn-success " [disabled]="!editForm.valid" (click)="edit(editForm)"><i class="fa fa-dot-circle-o"></i> Edit Account</button>
                            <button type="reset" class="btn btn-sm btn-danger "><i class="fa fa-ban"></i> Reset Form</button>
                            <button type="back" class="btn btn-secondary" [routerLink]="['/userlist/userlist']"><i class="fa fa-mail-reply" ></i>Back</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>