<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Bootstrap Dropdowns
          <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/dropdowns" target="_blank">
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              Button dropdown <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
